 *{box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
  transition: 0.5s;
 }

 main{
  color: var(--fonte);
 }

:root{
  --fonte: black;
  --botao: #C7D3C0;
  --bloco-informacoes:linear-gradient(0deg,#E8CE99,#F7F4ED,#F7F4ED);
  --fundo: linear-gradient(90deg,#604A61, #3E213A,#F7F4ED, #C7D3C0);
  --pastas: #A4C393;
  --linha-cor: #aba9a9;
}
.dark-mode{
    --fonte: white;
    --botao: #715B82;
    --bloco-informacoes: linear-gradient(0deg,#725473,#573452);
    --pastas: #715B82;
    --linha-cor: #171717;
    background-position: 00% 00%;
}

.botao{
  background-color: var(--botao);
  color: var(--fonte);
  font-family: "Abhaya Libre", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  width: 76px;
  height: 31px;
  border-radius: 16px;
  border: none;

}

body{
  background-image: var(--fundo);
  height: 100%;
  margin: 0;
  background-size: 400%;
  background-position: 100% 100%;
  transition: 1s ease;
}

.container{
  display: grid;
    gap: 10px;
  padding: 20px;
  position: fixed;
  height: 99px;
  width: auto;

}
.basico{
  
  grid-template-rows: repeat(auto-fit,minmax(60px,1fr));
}

 li{
     list-style-type: none;
}

a{text-decoration: none;
   color:var(--fonte);
}
.barra-pesquisa{
  display: flex;
  padding: 5px;
  margin: 10px;
  gap: 16px;
  font-family: "Abhaya Libre", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 17px;
}

.espacamento{
  margin-top: 0.3%;
}

#linha{
  background-color: var(--linha-cor);
  width: 1870px;
  height: 2px;
  margin-top: -1%;
}

.curriculo{
  margin-left: 73%;
}

.container-infos{
  display: grid;
  gap: 10%;
}


.introducao{
  padding: 100px;
}

.container-caixa{
  line-height: 1.6;
  text-align: left;
  max-width: 790px;
  padding: 20px;
}

.nome{
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
}

.dev-font{
  display: block;
   font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

.texto-introducao{
 font-family: "Neuton", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 27px;
}

.sobre-mim{
   display: flex;
  flex-direction: column;
  padding: 100px;
}

.format{
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
}

.introduct{ font-family: "Neuton", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 27px;
}

.habilidades{
  flex-direction: column;
  padding: 100px;
}

.habi{
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
}

.local-habilidades{
  background-image: var(--bloco-informacoes);
  width: 1255px;
  height: 661px;
  border-radius: 16px;
  border: solid, black;
  color: var(--fonte);
}

.projetos{
  padding: 100px;
  display: flex;
  flex-direction: column;
}

.projeto-font{
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
}

.formatacao-projeto{
  font-family: "Neuton", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 27px;
}

.contato-font{
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
}

@media(max-width:786px){
  .container-infos{
    display: block;
    text-align: center;
  } 


  .container-caixa{
    margin: 2em 2em;
  }

  .introducao{
    padding: 40px;
  }

  .nome{
  font-size: 36px;
  }

  .sobre-mim{
    padding: 40px;
  }

  .format{
    font-size: 36px;
  }

  .habilidades{
    padding: 40px;
  }

  .habi{
    font-size: 36px;
  }

  .local-habilidades{
    margin-left: -3.6vh;
  width: 340px;
  height: 400px;
  }

  .projetos{
    padding: 40px;
    font-size: 24px;
  }

  .projeto-font{
    font-size: 36px;
  }

  .contato{
    padding: 40px;
  }

  .contato-font{
    font-size: 36px;
  }
}